body{
	background-color: #FF1493;
	background-position: center;
	background-repeat:no-repeat;
}

h1{
	font-family:"Raleway", serif; 
	color: white;
	font-size: 50px;
	text-align: center;
}

.flex-container{
	display:flex;
	flex-direction: row; 
	justify-content:center;
}
.flex-container> div{
	background-color:#A9A9A9;
	width:500px;
	height:250px;
	margin:5px;
	padding:15px;
	font-size:45px;
	color:#f8f8ff;
	text-align: center;
	background-position: center;
	transition: all 3s;
}
#soccer:hover {
	border-radius: 100%;
	background:url('../images/soccer.png');
	background-size: 200px 150px;
	background-repeat:no-repeat;
	background-position:center; }

#football:hover{
	border-radius: 100%;
	background:url('../images/football.png');
	background-size: 162px 200px;
	background-repeat: no-repeat;
	background-position: center;
}
#tennis:hover{
	border-radius: 100%;
	background:url('../images/tennis.png');
	background-size: 150px 180px;
	background-repeat: no-repeat;
	background-position: center;
}

@keyframes speed-racing {
    0% { left: 0;}
    50%{ left : 100%;}
    100%{ left: 0;}
}

#animate{
	position: relative;
	display: block;
	animation-name: speed-racing;
	animation-duration:7s;
	animation-iteration-count: infinite;
}